@use "./vars" as *;

.blog-page {
  h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--text-primary);
    text-align: center;
  }
  ul {
    min-height: 600px;
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        text-decoration: none;
        color: var(--text-primary);
        font-size: 24px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }

        strong {
          color: var(--accent-color);
        }
      }

      p {
        margin: 0;
        color: var(--text-secondary);
      }
    }
  }
}
