@use "./vars" as *;

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;

  h3 {
    font-size: 28px;
    color: $text-primary;
    margin-bottom: 20px;
  }

  p {
    color: $text-secondary;
    font-size: 18px;

    a {
      color: #a277ff;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
