@use "./vars" as *;

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 2rem 1.5rem;

  h3 {
    font-size: 28px;
    color: $text-primary;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    color: $text-secondary;
    font-size: 18px;
    text-align: center;

    a {
      color: #a277ff;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    height: auto !important;
    min-height: 200px !important;
    padding: 64px 32px !important;

    h3 {
      font-size: 38px !important;
      margin-bottom: 32px !important;
      line-height: 1.3 !important;
    }

    p {
      font-size: 20px !important;
      line-height: 1.8 !important;
    }
  }
}
