.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 300px;
      padding: 20px;
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      h2 {
        color: #333;
        margin-bottom: 10px;
      }

      p {
        color: #666;
        line-height: 1.5;
        text-align: center;
      }

      .links-container {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          margin-top: 15px;
          margin-right: 20px;
          color: #a277ff;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
