---
import "../styles/global.scss";
import { Image } from 'astro:assets';
import githubIcon from '../assets/github.png';
import linkedinIcon from '../assets/linkedin.png';
import xIcon from '../assets/x.png';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nadya Jerochim - Full Stack Developer</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="welcome">
      <h1 class="title">Nadya Jerochim</h1>
      <h2 class="subtitle">Full Stack Developer</h2>

      <div class="socials">
        <a href="https://github.com/nady4" target="_blank"><Image src={githubIcon} alt="GitHub" width={32} height={32} loading="eager" decoding="async"/></a>
        <a href="https://linkedin.com/in/nady4" target="_blank"><Image src={linkedinIcon} alt="LinkedIn" width={32} height={32} loading="eager" decoding="async"/></a>
        <a href="https://x.com/DevNady4" target="_blank"><Image src={xIcon} alt="X" width={32} height={32} loading="eager" decoding="async"/></a>
      </div>

      <ul>
        <li>🛠️ Building frontend applications using <code>TypeScript</code>, <code>TailwindCSS</code>, <code>React</code>, <code>Redux</code>, <code>React Query</code>, <code>GraphQL</code>, <code>Next.js</code> and <code>Astro</code>.</li>
        <li>⚙️ Developing and maintaining backend services with <code>Node.js</code> and <code>Next.js</code>.</li>
        <li>🗃️ Managing SQL and NoSQL databases: <code>PostgreSQL</code>, <code>MySQL</code>, <code>SQLite</code>, <code>Redis</code> and <code>MongoDB</code>.</li>
        <li>🧪 Applying test-driven development using <code>Vitest</code>, <code>Jest</code>, <code>Testing Library</code>, <code>Cypress</code> and <code>Playwright</code>.</li>
        <li>🐳 Using <code>Docker</code> to ensure consistent deployments across environments.</li>
        <li>🎨 Experience in UI/UX, responsive design and web accessibility.</li>
        <li>🗣️ Fluent in English and proactive in team communication.</li>
      </ul>

      <h2>Experience</h2>
      <div class="experience-item">
        <h3>🏳️‍⚧️ Transistemas</h3>
        <p>Enero 2025 - Present</p>
        <p>
          Volunteer as Full Stack Web Developer at <strong>Transistemas</strong> (a civil association dedicated to IT job placement for the LGBT+ community through free courses).
          <br /><br />
          Volunteer activities: migrating the blunder, maintaining the organization's website project and hosting, implementing new UI features and managing deployment.
        </p>
      </div>

      <h2>Projects</h2>
      <div class="projects-list">
        <a class="project-item" href="https://github.com/nady4/nya-store" target="_blank">
          <h3>🐱 nya-store</h3>
          <p>E-commerce built with Next.js, Redux Toolkit, Prisma and PostgreSQL.</p>
        </a>
        <a class="project-item" href="https://github.com/nady4/calendar-money" target="_blank">
          <h3>💸 calendar-money</h3>
          <p>Cash-flow management web app built with TypeScript, React, Node.js, Express, and MongoDB.</p>
        </a>
        <a class="project-item" href="https://github.com/nady4/ai-face-detect" target="_blank">
          <h3>🧠 ai-face-detect</h3>
          <p>Web app built using React in which a user can upload a image and the app will detect the faces on it.</p>
        </a>
      </div>

      <h2>Contact</h2>
      <h3 class="contact-link-item">📩 <a href="mailto:nadyajerochim@gmail.com">nadyajerochim@gmail.com</a></h3>
    </section>
  </body>
</html>
